<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated EPDemo -->
      <package
            uri="http://epdemo/1.0"
            class="epdemo.EpdemoPackage"
            genModel="model/EPDemo.genmodel"/>
   </extension>

</plugin>
